#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    overflow-x: auto;
    background: var(--bg-secondary);
    box-shadow: var(--shadow);
}

.cell {
    &.selected {
        background: var(--orange);
        color: white;
        transform: scale(1.05);
        z-index: 1;
    }

    &.found {
        background: var(--green);
        color: white;
    }
}
