.game-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.game-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.info-container {
    flex: 1;
}

.title {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

    h2 {
        margin-top: 0;
        color: var(--grey);
        flex-shrink: 1;
    }

    .level-selector {
        flex-grow: 1;

        div {
            position: relative;
            width: 60px;

            select {
                all: unset;
                padding: 5px 25px 5px 10px;
                border-radius: 5px;
                border: 1px solid var(--grey);
                background: var(--bg);
                font-size: 1em;
                cursor: pointer;
                appearance: none;
            }

            &:after {
                content: "⌵";
                position: absolute;
                right: 0;
                padding: 2px 10px 0 0;
                box-sizing: border-box;
                pointer-events: none;
            }
        }
    }
}

.score-container {
    text-align: right;
    font-size: 1.2em;
    color: var(--grey);
}

#stats {
    font-size: 1.2em;
    color: var(--grey);

    span {
        margin-right: 15px;
        display: inline-block;
    }
}

#best-score {
    font-weight: bold;
    color: var(--grey);
}

#game-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 800px;
    gap: 10px;
    margin: 0 auto;
    background: var(--bg-secondary);
    padding: 15px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.card {
    aspect-ratio: 4/3;
    background-color: var(--grey);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: white;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    box-shadow: var(--shadow-item);

    &:hover {
        transform: scale(1.02);
    }

    &.flipped {
        transform: rotateY(180deg);
    }

    &.matched {
        background-color: var(--green);
        cursor: default;
        transform: scale(0.98) rotateY(180deg);
    }
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
}

.card-front {
    background-color: var(--grey);
}

.card-back {
    background-color: var(--blue);
    transform: rotateY(180deg);
}
