body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.counter-field {
    display: flex;
    gap: 12px;
    text-align: center;
    font-size: 24px;
    justify-content: center;
}
.input-field {
    display: flex;
    justify-content: center;
    grid-area: 15px;
}
.letters-field {
    display: flex;
    justify-content: center;
    gap: 60px;
}
.right-field, .wrong-field {
    text-align: center;
}
.right-field {

}
.wrong-field {

}
.word-field {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.message {
    text-align: center;
    font-size: 24px;
}